cachetools==5.5.1
certifi==2025.1.31
cfs-ssh-trust>=1.8,<1.9
chardet==5.2.0
google-auth==2.38.0
idna==3.10
# CSM 1.6 moved to Kubernetes 1.24, so use client v24.x to ensure compatability
kubernetes>=24.2,<24.3
oauthlib==3.2.2
pyasn1==0.6.1
pyasn1-modules==0.4.1
python-dateutil>=2.9,<2.10
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.17.0
urllib3==2.3
websocket-client==1.8
